*
{
    padding:0px;
    margin:0px;
}
#bloc_page
{
    max-width: 1440px;
    margin: auto;
}
body
{                                   
    font-family: 'Raleway', sans-serif;

}
a
{
    text-decoration: none;
    color:#0065FC;
}
.empty           /* étoiles vides */
{                        
    color: rgb(217,217,217);
}
                                                         /* HEADER */  

#conteneur1                                                                            
{
    display: flex;
    padding-bottom: 52px;
    padding-top: 52px;
    align-items: center;
    justify-content: space-between;
}
#nav1 li
{
    display: inline;
    margin-left: 10%;
    padding-top: 10px;
}
#nav1 li:hover
{
    cursor: pointer;
    border-top:solid #0065FC;
    padding-top: 52px;
}
.elt1:nth-child(1)         /*LOGO*/
{
    flex:3;
    padding-left: 52px;
}
 .elt1:nth-child(2)    /*NAVIGATION*/
{ 
    flex:2;
    text-align: right;
}
 .elt1:nth-child(3) /*INSCRIPTION*/
{
     flex:0;
     font-weight: bold;
     text-align: right;
     margin-left: 5%;
     padding-right: 10%;
}
.ins:hover
{
    cursor: pointer;
    border-top:solid #0065FC;
    padding-top: 52px; 
}          
#recherche                         /* SECTION RECHERCHE */
    {
       padding-left:52px;
    }

.trvz{              /* Titre SECTION RECHERCHE */
    font-size: 22px;
    padding-bottom: 20px;
}
h1+p
{
    font-size: 1.05em;
}

#contsearch    /* CONTENEUR 'recherche' */
{
    display: flex;
    padding-top: 23px;
    margin-bottom: 30px;
}
.icone_map
{
    height: 30px;
    width: 48px;
    padding-top: 20px;
    background-color: #f2f2f2;
    text-align: center;
    border: 2px solid #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

form.formulaire input[type=text]    /* formulaire "recherche" */
{          
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    width:215px;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
}
input:focus {           /* empeche le form de se mettre en bleu quand on clique dessus */
    outline:none;
}
.glass{
    visibility: collapse;
    display: none;
}
form.formulaire button  /*BOUTON RECHERCHE*/
{ 
    height: 54px;
    padding-left: 10px;
    padding-right: 10px;
    background:#0065FC;
    color: white;
    font-size:1.4em;
    cursor: pointer;
    border: #0065FC;
    border-radius: 0px 10px 10px 0px;
}
form.formulaire button:hover
{
    background: #0b7dda;
}
#filtres{
    padding-left: 52px;
}
#conteneur2                         /* SECTION Filtres */
{                                
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}
#titre_filtre
{
    font-size: 1.2em;
    margin-right: 13px;
}
#nav2
{
    padding-left: 27px;
    width:100%
}
#nav2 li{
    display: inline;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
    border-right: solid 2px #f2f2f2;
    border-radius: 30px 30px 30px 30px;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-right: 20px;
}

.icones1           /*Icones filtres */
{                            
    background-color: #deebff;
    color: #0065FC;
    padding: 13px;
    margin-right: 13px;
    border-radius: 300px;   
}

.icones1bis                          /*Icones bonhomme */
{ 
    background-color: #deebff;
    color: #0065FC;
    margin-right:13px; 
    padding: 13px 18px 13px 16px;
    border-radius: 300px;  
}
#nav2 li:hover
{
    cursor: pointer;
    background-color: #f2f2f2 ;
}
#conteneur2+p
{
    padding-left: 52px;
}

.icones                 /* Icones 'informations'*/
{
    color: #0065FC;
    float: left;
    margin-right: 14px;
    padding: 5px 10px 5px 10px;
    border:solid 1px #f2f2f2;
    border-radius: 300px;
}
.inf_p              /* Texte après icones 'inf'*/
{
    margin-top: 5px ;

}

#hotel{
    padding-left: 52px;
}
#conteneur3{                            /* Conteneur "hebergements" - "les plus pop" */
    display: flex;
    margin-top: 36px;
}
.elt3{
    border-radius: 20px;
    background-color: #f2f2f2;
}
.elt3:nth-child(1)          /* Hebergement à Marseille */
{
    margin-right: 40px;
}
.elt3 h1{                            /* titre "hebergements" */
    padding-left: 40px;
    padding-top: 47px;
    margin-bottom: 27px;
    font-size: 1.4em;
}
#cntr{                          /* Conteneur "Hebergements" */
    display: flex;
}
.img1{                          /* IMG Hebergement */
    border-radius: 20px 20px 0px 0px;
    width:100%;
    max-width: 238px;
}
.tag1{                           /* Etiquettes img left */
    background-color: white;
    max-width: 248px;
    box-shadow: 1px 1px 12px rgb(182, 181, 181);
    margin-bottom: 30px;
    border-radius: 20px;
    margin-left: 40px;
    padding: 5px 5px 0px 5px;
}
.tag2{                           /* Etiquettes img center */
    background-color: white;
    max-width: 248px;
    box-shadow: 1px 1px 12px rgb(182, 181, 181);
    margin-bottom: 30px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 5px 0px 5px;
 }
 .tag3{                           /* Etiquettes img right */
    background-color: white;
    max-width: 248px;
    box-shadow: 1px 1px 12px rgb(182, 181, 181);
    margin-bottom: 30px;
    border-radius: 20px;
    margin-right: 40px;
    padding: 5px 5px 0px 5px;
 }
.tag1 h2{                        /* Nom hôtel lft*/
    color: black;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    white-space: nowrap;
}
.tag2 h2{                        /* Nom hôtel ctr*/
    color: black;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    white-space: nowrap;
}
.tag3 h2{                        /* Nom hôtel right*/
    color: black;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    white-space: nowrap;
}
.mots{        
    color: black;             /* margin "nuit à partir" */
    margin-bottom: 5px; 
    margin-left: 10px;
    font-size: 0.9em;       
}
.star_st                    /* 1ere étoile */
{
    margin-bottom: 5px;
    margin-left: 10px;
}
a[title*="Afficher"]{           /* 'afficher plus */
    color: black;
    font-weight: bold;
}
#aff_plus{
    font-size: 1.1em;
    margin-bottom: 50px;
    margin-left: 45px;
    margin-top: 15px;
}
#conteneur4{                    /* Titres "les plus pop" + icones */
    display: flex;
}
#cont4bis{                      /* conteneur "les plus pops" */ 
    display: flex;
    flex-direction: column;
 }
#arrow{                         /* icone flèche */
    margin-left: 117px;
    margin-top: 50px;
}
.img2{                      /* images 'les plus pop' */
    border-radius: 20px 0px 0px 20px;
    padding: 5px 5px 0px 5px;
    min-height: 124px;
    min-width: 122px;
    width:100%
}
.tag4 {      
    display: flex;  /* Etiquettes des images */
    max-width:343px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgb(182, 181, 181);
    margin-left: 37px;
    margin-right: 37px;
    margin-bottom: 30px;
}
.tag4 p{                    /*Img hotel 'pop'*/
    margin-right: 22px;
}
.tag4 h2{                        /* Nom hôtel 'les plus pops' */
    color: black;
    font-size: 0.9em;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 13px;
    white-space: nowrap;
}
.mots_bis{              /* "Nuits à partir"*/
    color:black;
    font-size: 0.9em;
    margin-bottom: 30px;
}
.star_st_pop{                     /* Padding 1ere étoile */
    padding-left: 3px;
    padding-bottom: 14px;
}
#activites{
    padding-left: 52px;
}
#conteneur5{                    /* Activités à Marseille */
    display: flex;
}

#conteneur5 img
{
    border-radius: 20px 20px 0px 0px;
    max-width: 1440px;
}
.elt5{
    margin-right: 33px;
}
#act{           /* Titre 'act' */
    margin-top: 66px;
    margin-bottom: 28px;
    padding-left: 10px;
    font-size: 1.1em;
}
.tag5{      
    display: flex;  /* Etiquettes des images */
    flex-direction: column;
    box-shadow: 1px 1px 12px rgb(182, 181, 181);
    border-radius: 20px;
    margin-bottom: 25px;
 }
 @media all and (min-width:1210px) and (max-width:1340px)
 {
     .tag5
     {
         margin-bottom: 20px;
     }
 }
.tag5 p{
    margin-top: 0px;
 }
.tag5 h2{                        /* Nom activités */
    color: black;
    font-size: 1.1em;
    margin-left: 17px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.tag5 img{
    width: 100%;

}
#conteneur6{                    /* Footer */
    display: flex;
    background-color: #f2f2f2;
    margin-top: 35px;
    padding-top: 48px;
    width: 100%;
}
@media all and (min-width: 1460px) /* adaptation footer pour Grand ecran */
    {
        #conteneur6{
            justify-content: space-around;
        }
    }

#conteneur6 p{
    margin-bottom:20px;
}
.elt6:nth-child(1){  /* A propos */
    padding-bottom:50px;
    margin-right: 225px;
    margin-left: 80px;
}
.elt6:nth-child(2)
{
    margin-right: 230px;
}

.footer_color
{
   color: black;
}
h3
{
    margin-bottom: 26px;
}

@media all and (min-width:768px) and (max-width:1022px)               /* TABLETTE */
{
    #bloc_page{
        overflow-x: hidden;
    }
    #conteneur1      /* Header */                      
    { 
        padding-bottom: 0px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content:flex-start;
        padding-top: 10px;
        padding-left: 30px;
    }
    .elt1:nth-child(1)         /*LOGO*/
    {
        flex:3;
        padding-left: 20px;
    }
    .elt1:nth-child(1){
        flex: 1;
        padding-left: 20px;
        margin-bottom: 38px;
        margin-top: 25px;
    }
    .elt1:nth-child(2){
        flex:1 100%;
        order:3;   
        color: #0065FC;
        text-align: left;
        margin-bottom: 32px;
    }
    .elt1:nth-child(3){
        flex:1;
        order:2;
        margin-left: 0px;
        margin-right: 0px;
        margin-top:45px;
    }

    #nav1 li{
        margin-left: 9%;
        padding-top: 0px;
    }
    .heberg
    {
        padding-left: 10%;
        padding-right: 10%;
    }
    .activ
    {
        padding-left: 12%;
        padding-right: 12%;
    }
    #nav1 li:hover
    {
        border-top:none;
        padding-bottom: 18px;
        border-bottom: solid #0065FC;
        padding-top: 0px;
    }

    #recherche                         /* SECTION RECHERCHE */
        {
        padding-left:20px;
        }
    #filtres{
        padding-left: 20px;
    }
    #conteneur2                         /* SECTION Filtres */
    {                                
        flex-direction: column;
        align-items:flex-start;
    }
    #titre_filtre
    {
        margin-bottom:20px;

    }
    #nav2 li{
        align-items: center;
        margin-bottom: 14px;
        font-size: 1em;
        margin-right: 6px;

    }
    .icones1           /*Icones filtres */
    {                            
        margin-right: 5px; 
        margin-bottom: 30px;
    }
    .icones1bis                          /*Icones bonhomme */
    { 
        margin-right:5px; 
    }
    #nav2, ul{
        padding-left: 0px;
    }
            
    #hotel{                         /* Section Hotel */
        padding-left: 0px;
    }
    #conteneur3
    {
        flex-wrap: wrap;
    }
    .elt3:nth-child(1){ /* hebergements */
        order:2;
        margin-right: 0px;
        background-color: white;
    }
    .elt3:nth-child(2){ /* les plus pops*/
        order:1;
        padding-bottom: 35px ;
        padding-left: 0px;
        border-radius: 0px;
    }
    #cont4bis{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tag4{
        margin-left: 30px;
        margin-right: 20px;
        max-width: 320px;
    }
    #arrow{                         /* icone flèche */
        margin-left: 70px;
        margin-top: 50px;
    }
    .bleu{
        margin-left: 25%;
        margin-top: 30px;
    }
     /* Activités à Marseille */ 
    #activites
     {
         padding-left: 0px;    
     }
    #conteneur5 img
    {
         border-radius: 20px 20px 0px 0px;
         max-width: 385px;
     }
    .elt5{              /* element du conteneur */
         margin-right: auto;
         margin-left: auto;
 
     }
     #act{           /* Titre 'act' */
         margin-top: 0px;
         margin-bottom: 28px;
         padding-left: 20px;
         font-size: 1.1em;
     }
    #conteneur5{    
         flex-wrap: wrap;                 
     }
    #conteneur5 img
     {
         border-radius: 20px 20px 0px 0px;
         max-height: 365px;
     }
    #conteneur6{                    /* Footer */
        justify-content: space-between;
        margin-top: 48px;

    }
    .elt6:nth-child(1){
        margin-left: 20px;
        margin-right:0px;
    }
    .elt6:nth-child(2){
        margin-left: 0px;
        margin-right:0px;
        padding-bottom:50px;

    }
    .elt6:nth-child(3){
        margin-left: 0px;
        margin-right:20px;
        padding-bottom:50px;
    }

}

@media all and (min-width:1023px) and (max-width:1025px) 
{
    #filtres{
        padding-left: 15px;
    }
    #nav2, ul{
        padding-left: 0px;
    }
    #hotel{                         /* Section Hotel */
        padding-left: 0px;
    }
    #conteneur3
    {
        flex-wrap: wrap;
    }
    .tag1{                           /* Etiquettes img left */
        margin-bottom: 40px;
        margin-left: 90px;
    }
    .tag2{                           /* Etiquettes img center */
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .tag3{                           /* Etiquettes img right */
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .elt3:nth-child(1){ /* hebergements */
        order:2;
        margin-right: 0px;
        background-color: white;
    }
    .elt3:nth-child(2){ /* les plus pops*/
        order:1;
        padding-bottom: 35px ;
        padding-left: 0px;
        border-radius: 0px;
    }
    #cont4bis{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .tag4{
        margin-left: 15px;
        margin-right: 15px;
        max-width: 310px;
    }
    .elt4{
        width: 170px;

    }
    #arrow{                         /* icone flèche */
        margin-left: 70px;
        margin-top: 50px;
    }
     /* Activités à Marseille */ 
    #activites
    {
         padding-left: 0px;    
    }
    #conteneur5 img
    {
         border-radius: 20px 20px 0px 0px;
         max-width: 385px;
    }
    .elt5{              /* element du conteneur */
         margin-right: auto;
         margin-left: auto;
 
    }
    /* Activités à Marseille */ 
    #activites
    {
         padding-left: 0px;    
    }
    #conteneur5 img
    {
         border-radius: 20px 20px 0px 0px;
         max-width: 385px;
    }
    .elt5{              /* element du conteneur */
         margin-right: 0px;
         margin-left: 130px; 
    }
    #act{           /* Titre 'act' */
         margin-top: 0px;
         margin-bottom: 28px;
         padding-left: 20px;
         font-size: 1.1em;
    }
    #conteneur5{    
         flex-wrap: wrap;                 
    }
    #conteneur5 img
    {
         border-radius: 20px 20px 0px 0px;
         max-height: 365px;
    }
    #conteneur6{                    /* Footer */
        justify-content: space-between;
        margin-top: 48px;

    }
    .elt6:nth-child(1){
        margin-left: 20px;
        margin-right:0px;
    }
    .elt6:nth-child(2){
        margin-left: 0px;
        margin-right:0px;
        padding-bottom:50px;

    }
    .elt6:nth-child(3){
        margin-left: 0px;
        margin-right:20px;
        padding-bottom:50px;
    }

}

                                               /* MOBILE */
@media all and (max-width: 420px) 

                                        /* HEADER MEDIA MOBILE */
                                
{
    #bloc_page{
        overflow-x: hidden;
    }
    h1{
        font-size: 23px;
    }
    #conteneur1      /* Header */                      
    { 
        padding-bottom: 0px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content:flex-start;
        padding-top: 0px;
    }
    #nav1{
        border-bottom: solid #f2f2f2;
        padding-bottom: 18px;
    }
    .a_nav1{
        color:black;
    }
    #nav1 li
    {
        margin-left: 0px;
        padding-top: 0px;
    }
   #nav1 li:active
    {
        padding-bottom: 18px;
        border-bottom: solid #0065FC;
    }
    #nav1 li:hover
    {
        border-top:none;
        padding-bottom: 18px;
        border-bottom: solid #0065FC;
        padding-top: 0px;
    }
    a:active{
       color: #0065FC;
    }
    a:hover{
        color: #0065FC;
    }
    .heberg
    {
        padding-left: 10%;
        padding-right: 10%;
    }
    .activ
    {
        padding-left: 15%;
        padding-right: 15%;
    }
    .elt1:nth-child(1){
        flex: 1 33%;
        padding-left: 20px;
        margin-bottom: 38px;
        margin-top: 25px;
    }
    .elt1:nth-child(2){
        order:3;
        color: #0065FC;
        max-width: 100%;
        flex: 3;
        white-space: nowrap;
        align-items: flex-end;
        padding-top: 0px;
        padding-bottom: 18px;
        text-align: left;
        margin-bottom: 32px;
    }
    .elt1:nth-child(3){
        order:2;
        flex: 1;
        margin-left: 0px;
        margin-right: 20px;
        padding-right: 0px;
        margin-top: 40px;
    }
 /* Fin mobile header*/

 /* Section 'Recherche' MOBILE */
    #recherche{
        padding-left: 20px;
    }                               

    .trvz{              /* Titre SECTION RECHERCHE */
    font-size: 1.4em;
    padding-bottom: 16px;
    padding-right: 30px;
    }

    .icone_map{
        height: 35px;
        width: 50px;   
    }
    form.formulaire input[type=text] {          /* formulaire "recherche" */
        padding:15px;
        padding-top: 20px;  
        font-size: 1.1em;
        font-weight: bold;
        max-width:265px;
        border-top: solid 1px #f2f2f2;
        border-bottom: solid 1px #f2f2f2;
    }
    form.formulaire button {
        visibility: collapse;
        display: none;
    }
    .glass{
        visibility: visible;
        height: 35px;
        width: 60px;
        text-align: center;
        padding-top: 23px;
        border-top: solid 1px #f2f2f2;
        border-bottom: solid 1px #f2f2f2;
        margin-left: -26px;
        color: white;
        border-radius:20px;
        background-color: #0065FC;
    }
    form.formulaire button:hover {
        background: #0b7dda;
    }


    #filtres{                          /* Fin Section Recherche */
        padding-left: 20px;
    }                               

       /* SECTION Filtres */                             
    #conteneur2                        
    {                                
        flex-direction: column;
        align-items:flex-start;
        padding-bottom: 25px;
    }
    #titre_filtre
    {
        margin-right: 0px;
        margin-bottom: 18px;
    }
    #nav2
    {
        padding-left: 0px;
    }
    #nav2 li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 14px;
        padding-top: 0px;
        font-size: 1em;
        padding-bottom: 0px;
        margin-right: 16px;
        padding-right: 20px;

    }
    #nav2 li:active
    {
        cursor: pointer;
        background-color: #f2f2f2 ;
    }
    .icones1           /*Icones filtres */
    {                            
        margin-right: 10px;    
    }
    .icones1bis                          /*Icones bonhomme */
    { 
        margin-right:10px; 
    }
    .filter1{
        float: left;
        font-size: 0.8em;
    }
    .filter3{
        width:150px;
    }
    .filter4{
        width:200px;
    }
    .icones                 /* Icones 'informations'*/
    {
        border:solid 3px #f2f2f2;
    }
    .inf_p              /* Texte après icones 'inf'*/
    {
        font-size:1em;
    }

    #hotel{
        padding-left: 0px;
    } 
                                 /* Fin SECTION Filtres */ 

            /* Section hotel */

    #conteneur3{                            /* Conteneur "hébergements" - "les plus pop" */
        flex-direction: column;
        margin-top: 40px;
    }
    .img1{                          /* IMG Hebergement */
        max-width: 337px;
    }
    .elt3{
        border-radius: 0px;
    }
    .elt3:nth-child(1){ /* hebergements */
        order:2;
        margin-right: 0px;
        background-color: white;
    }
    .elt3:nth-child(2){ /* les plus pops*/
        order:1;
        padding-bottom: 35px ;
    }
    .elt3 h1{                            /* titre "hebergements" / "les plus pops" */
        padding-left: 16px;
        padding-top: 40px;
        margin-bottom: 25px;
        font-size: 20px;
    }
    #arrow{                         /* icone flèche */
        margin-left: 80px;
        margin-top: 48px;
    }
    .tag4 {      
                                     /* Etiquettes des images les plus pops */
        max-width:315px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .tag4 p{                    /*Img hotel 'pop'*/
        margin-right: 10px;
    }
    .elt3 h1{                            /* titre "hebergements" */
        padding-left: 20px;
        padding-top: 47px;
        margin-bottom: 27px;
        font-size: 21px;
    }
    .tag1{                           /* Etiquettes img hebergments */
        max-width: 320px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;

    }
    .tag2{                           /* Etiquettes img hebergements */
        max-width: 320px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }
     .tag3{                           /* Etiquettes img heb */
        max-width: 320px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;   
    }
    #cntr{                          /* Conteneur "Hébergements" */ 
        flex-direction: column;
    }
    #aff_plus{
        margin-bottom: 60px;
        margin-left: 20px;
        margin-top: 35px;
    }
    /* Activités à Marseille */ 
    #activites
    {
        padding-left: 0px;    
    }
    #conteneur5 img
    {
        border-radius: 20px 20px 0px 0px;
        max-width: 385px;
    }
    .elt5{              /* element du conteneur */
        margin-right: auto;
        margin-left: auto;

    }
    #act{           /* Titre 'act' */
        margin-top: 0px;
        margin-bottom: 28px;
        padding-left: 20px;
        font-size: 1.1em;
    }
    #conteneur5{                     
        flex-direction: column; 
    }
    #conteneur6{                    /* Footer */
        display: flex; 
        flex-direction: column;
        margin-top: 48px;
    }
    .elt6:nth-child(1){
        margin-left: 30px;
        margin-right:0px;
    }
    .elt6:nth-child(2){
        margin-left: 30px;
        margin-right:0px;
        padding-bottom:50px;

    }
    .elt6:nth-child(3){
        margin-left: 30px;
        margin-right:0px;
        padding-bottom:50px;
    }
}
@media all and (max-width: 374px)  /* Mobile S */
{
     /* Section 'Recherche' MOBILE */
     #recherche{
        padding-left: 0px;
    }                               
    .trvz{              /* Titre SECTION RECHERCHE */
        font-size: 1.2em;
        padding-left: 20px;

        }
    h1 + p{
        font-size: 0.9em;
        padding-left: 20px;

    }
    .icone_map{
  
        margin-left: 10px;
    }
    form.formulaire input[type=text] {          /* formulaire "recherche" */
        max-width:175px;
    }
     /* SECTION Filtres */                             
     #nav2
     {
         padding-left: 0px;
     }
     #nav2 li{

         padding-top: 0px;
         font-size: 0.9em;
         margin-right: 10px;
         padding-right: 10px;
 
     }
     #nav2 li:active
     {
         cursor: pointer;
         background-color: #f2f2f2 ;
     }
     .icones1           /*Icones filtres */
     {                            
         margin-right: 5px;    
     }
     .icones1bis                          /*Icones bonhomme */
     { 
         margin-right:5px; 
     }
}